.graph-canvas {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#f3f4f6 1px, transparent 1px), radial-gradient(#f3f4f6 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
