:3000 {
  root * /srv
  file_server

  header {
    # Basic CSP, adjust as needed
    Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' blob: data:; font-src 'self' data:; connect-src 'self' https: http: ws:;"
    Referrer-Policy "no-referrer"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    X-XSS-Protection "0"
  }

  handle_errors {
    @notFound expression {http.error.status_code} == 404
    rewrite @notFound /index.html
  }

  try_files {path} /index.html
}
